.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    top:0;
    z-index: -2;
    /*box-shadow: 0 0 200px #82713b;*/
    overflow: hidden;
    filter: contrast(5);
    backface-visibility: hidden;
    background-color: #424242;

  }
  .circle,
  .topbottom {
    position: absolute;
    bottom: 0;
    display: block;
    border-radius: 50%;
    background-color: rgb(128, 217, 192, .96);
    backface-visibility: hidden;
  }
  
  .circle {
    filter: blur(10px);
    animation: 25s toTop infinite ease-in-out;
  }
  
  .circle:nth-of-type(1) {
    width: 75px;
    height: 75px;
    right: 40px;
    top: -80px;
    animation-delay: 3s;
    animation: 25s toBottom infinite ease-in-out;
  }
  
  .circle:nth-of-type(2) {
    left: 70px;
    bottom: -125px;
    width: 145px;
    height: 130px;
  }
  
  .circle:nth-of-type(3) {
    width: 160px;
    height: 152px;
    left: 120px;
    top: -155px;
    animation: 25s toBottom infinite ease-in-out;
    animation-delay: 2s;
  }
  
  .circle:nth-of-type(4) {
    top: -170px;
    left: 410px;
    width: 170px;
    height: 180px;
    animation: 25s toBottom infinite ease-in-out;
    animation-delay: 5s;
  }
  
  .circle:nth-of-type(5) {
    width: 140px;
    height: 140px;
    right: 70px;
    animation-duration: 23s;
    bottom: -170px;
    animation-delay: 9s;
  }
  
  .circle:nth-of-type(6) {
    right: 160px;
    bottom: -140px;
    width: 170px;
    animation-delay: 6.2s;
    height: 160px;
  }
  
  .circle:nth-of-type(7) {
    width: 110px;
    height: 102px;
    left: 230px;
    bottom: -75px;
    animation-duration: 30s;
    animation-delay: 8.2s;
  }
  
  .circle:nth-of-type(8) {
    bottom: -90px;
    left: 320px;
    width: 70px;
    height: 70px;
    animation-delay: 15s;
  }
  
  .circle:nth-of-type(9) {
    right: 225px;
    bottom: -135px;
    width: 180px;
    height: 160px;
  }
  
  .circle:nth-of-type(10) {
    width: 110px;
    height: 102px;
    right: 160px;
    bottom: -80px;
    animation-duration: 40s;
    animation-delay: 10s;
  }
  
  .circle:nth-of-type(11) {
    bottom: -100px;
    left: 190px;
    width: 70px;
    height: 70px;
    animation-delay: 20s;
  }
  
  .topbottom {
    width: 100vw;
    height: 75px;
    z-index: 0;
    left: 50%;
    filter: blur(10px);
  }
  
  .circle:nth-of-type(12) {
    width: 75px;
    height: 75px;
    right: 300px;
    top: -50px;
    animation-delay: 7s;
    animation: 30s toBottom infinite ease-in-out;
  }
  
  
  
  .bottom {
    position: absolute;
    bottom: 0;
    display: block;
    border-radius: 50%;
    background-color: rgb(128, 217, 192);
    backface-visibility: hidden;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  
  .top {
    position: absolute;
    bottom: 0;
    display: block;
    border-radius: 50%;
    background-color: rgb(128, 217, 192);
    backface-visibility: hidden;
    top: 0;
    transform: translate(-50%, -50%);
  }
  
  @keyframes toTop {
    0% {
      transform: translateZ(0) translateY(0);
    }
  
    45% {
      transform: translateZ(0) translateY(-500px) scaleY(1.2);
    }
  
    100% {
      transform: translateZ(0) translateY(0) scale(0.8);
    }
  }
  
  @keyframes toBottom {
    0% {
      transform: translateZ(0) translateY(0);
    }
  
    45% {
      transform: translateZ(0) translateY(500px) scaleY(1.2);
    }
  
    100% {
      transform: translateZ(0) translateY(0) scale(1.4);
    }
  }
